# >>> FOLDERS
alias cdp="cd {{ .cdp_path }}"
# <<< FOLDERS

# >>> ZOXIDE
alias cd=z
alias cdi=zi
# <<< ZOXIDE

# >>> bat
alias less=bat
# <<< bat

# >>> eza
alias ls="eza --icons=always"
# <<< eza

# >>> GIT
gitcl_gwtkwsk() { git clone "git@github.com_gwtkwsk:$1"; }
gitcl_grzegorzwitkowski() { git clone "git@github.com_grzegorzwitkowski:$1"; }
# <<< GIT

# >>> neovim
alias vim=nvim
# <<< neovim
