# >>> FOLDERS
alias cdp="cd {{ .cdp_path }}"
# <<< FOLDERS

# >>> ZOXIDE
alias cd=z
alias cdi=zi
# <<< ZOXIDE

# >>> bat
alias less=bat
# <<< bat

# >>> eza
alias ls="eza --icons=always"
# <<< eza

# >>> GIT
{{- $sshKeys := get . "ssh_keys" | default list }}
{{- range $key := $sshKeys }}
{{- $name := "" -}}
{{- $host := "" -}}
{{- $cloneAlias := "" -}}
{{- if kindIs "string" $key -}}
{{- $name = $key -}}
{{- else -}}
{{- $name = get $key "name" -}}
{{- $host = get $key "host" -}}
{{- $cloneAlias = get $key "clone_alias" -}}
{{- end -}}
{{- if eq $name "" }}{{ fail "ssh_keys entries must set name" }}{{ end -}}
{{- $safeName := $name | replace "-" "_" | replace "." "_" -}}
{{- $host = $host | default (printf "github.com_%s" $safeName) -}}
{{- $cloneAlias = $cloneAlias | default (printf "gitcl_%s" $safeName) }}
{{ $cloneAlias }}() { git clone "git@{{ $host }}:$1"; }
{{- end }}

alias gitbr='git branch | fzf --height=20% --reverse --info=inline | xargs git checkout'
# <<< GIT

# >>> neovim
alias vim=nvim
# <<< neovim
