{{- $preset := index .themePresets .theme -}}
{{- if not $preset -}}
{{ fail (printf "Unsupported .theme value: %q" .theme) }}
{{- end -}}
set-window-option -g mode-keys vi
set-window-option -g automatic-rename on
set-window-option -g automatic-rename-format "#{pane_current_command}"
set -g mouse on
set -g history-limit 10000
set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on
set -g status-position top

# Keys
bind -r h select-pane -L
bind -r j select-pane -D
bind -r k select-pane -U
bind -r l select-pane -R

bind -r H resize-pane -L 10
bind -r J resize-pane -D 2
bind -r K resize-pane -U 2
bind -r L resize-pane -R 10

bind r source-file ~/.tmux.conf \; display "Config reloaded!"
bind C-l send-keys C-l \; clear-history
bind C command-prompt -p "Window name:" "new-window -c '#{pane_current_path}' -n '%%'"

bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

# Plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin_interpolated_options 'status-right status-left'

{{ includeTemplate $preset.tmuxTemplate $preset }}

# TPM init
run '~/.tmux/plugins/tpm/tpm'
