set-window-option -g mode-keys vi
set -g mouse on
set -g history-limit 10000
set -g base-index 1

# Keys
bind -r h resize-pane -L 5
bind -r j resize-pane -D 5
bind -r k resize-pane -U 5
bind -r l resize-pane -R 5

bind -r H resize-pane -L 10
bind -r J resize-pane -D 10
bind -r K resize-pane -U 10
bind -r L resize-pane -R 10

# Plugins
set -g @plugin 'tmux-plugins/tpm'
{{- if eq .theme "catppuccin" }}
set -g @plugin 'catppuccin/tmux'
set -g @plugin 'tmux-plugins/tmux-sensible'

# Catppuccin
set -g @catppuccin_flavor 'mocha'
set -g @catppuccin_window_status_style "rounded"
run ~/.tmux/plugins/tmux/catppuccin.tmux
set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""
set -g status-right "#{E:@catppuccin_status_application}"
set -agF status-right "#{E:@catppuccin_status_cpu}"
set -ag status-right "#{E:@catppuccin_status_session}"
set -ag status-right "#{E:@catppuccin_status_uptime}"
set -agF status-right "#{E:@catppuccin_status_battery}"
run ~/.config/tmux/plugins/tmux-plugins/tmux-cpu/cpu.tmux
run ~/.config/tmux/plugins/tmux-plugins/tmux-battery/battery.tmux
{{- else if eq .theme "gruvbox" }}
set -g @plugin 'egel/tmux-gruvbox'

# Gruvbox
set -g @tmux-gruvbox 'dark' # or 'dark256', 'light', 'light256'
set -g @tmux-gruvbox-left-status-a '#S' # tmux's session name
set -g @tmux-gruvbox-right-status-x '%d.%m.%Y' # e.g.: 30.01.2024
set -g @tmux-gruvbox-right-status-y '%H:%M'
set -g @tmux-gruvbox-right-status-z '#h #{tmux_mode_indicator}'
{{- else }}
{{ fail (printf "Unsupported .theme value: %q" .theme) }}
{{- end }}

# TPM init
run '~/.tmux/plugins/tpm/tpm'
