{{- $git := get . "git" | default dict -}}
{{- $gitUser := get $git "user" | default dict -}}
{{- $gitEmail := get $gitUser "email" -}}
{{- $gitName := get $gitUser "name" -}}
{{- if not $gitEmail }}{{ fail "git.user.email must be set in .chezmoidata.yaml" }}{{- end }}
{{- if not $gitName }}{{ fail "git.user.name must be set in .chezmoidata.yaml" }}{{- end }}
[user]
	email = {{ $gitEmail }}
	name = {{ $gitName }}

[alias]
	last = log -1 --stat
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	ft = fetch -p
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	cln = clean -xdn
	cli = clean -xdi
	clf = clean -xdf
	cls = clean -xdf -e .idea/ -e .gradle/

[color]
	ui = true

[merge]
	ff = only
	conflictstyle = diff3

[push]
	default = simple
[core]
	autocrlf = input
  pager = delta

[status]
	showUntrackedFiles = all

[init]
	defaultBranch = main

[url "git@github.com:"]
  insteadOf = https://github.com/

[interactive]
  diffFilter = delta --color-only

[delta]
  side-by-side = true
