{{- $sshKeys := get . "ssh_keys" | default list -}}
{{- range $index, $key := $sshKeys }}
{{- $name := "" -}}
{{- $host := "" -}}
{{- $hostname := "github.com" -}}
{{- $user := "git" -}}
{{- $identityFile := "" -}}
{{- if kindIs "string" $key -}}
{{- $name = $key -}}
{{- else -}}
{{- $name = get $key "name" -}}
{{- $host = get $key "host" -}}
{{- $hostname = get $key "hostname" | default $hostname -}}
{{- $user = get $key "user" | default $user -}}
{{- $identityFile = get $key "identity_file" -}}
{{- end -}}
{{- if eq $name "" }}{{ fail "ssh_keys entries must set name" }}{{ end -}}
{{- $safeName := $name | replace "-" "_" | replace "." "_" -}}
{{- $host = $host | default (printf "github.com_%s" $safeName) -}}
{{- $identityFile = $identityFile | default (printf "~/.ssh/id_%s_ed25519" $safeName) -}}
{{- if gt $index 0 }}{{ printf "\n\n" }}{{ end -}}
{{ printf "Host %s\n    Hostname %s\n    User %s\n    IdentityFile %s\n    IdentitiesOnly yes\n    AddKeysToAgent yes" $host $hostname $user $identityFile -}}
{{- end }}
