window-width = 200
window-height = 50
background-opacity = 0.98
font-family = "JetBrainsMono Nerd Font"
font-size = 10
{{- if eq .theme "catppuccin" }}
theme = Catppuccin Frappe
{{- else if eq .theme "gruvbox" }}
theme = dark:Gruvbox Dark,light:Gruvbox Light
{{- else }}
{{ fail (printf "Unsupported .theme value: %q" .theme) }}
{{- end }}
custom-shader = shaders/cursor_warp.glsl
