{{- $preset := index .themePresets .theme -}}
{{- if not $preset -}}
{{ fail (printf "Unsupported .theme value: %q" .theme) }}
{{- end -}}
return {
{{ includeTemplate $preset.nvimTemplate $preset }}
}
