  {
    "ellisonleao/gruvbox.nvim",
    priority = 1000,
    init = function()
      vim.o.background = "{{ .nvimGruvboxBackground }}"
    end,
    opts = {
      contrast = "{{ .nvimGruvboxContrast }}",
      transparent_mode = true,
    },
  },

  {
    "LazyVim/LazyVim",
    opts = {
      colorscheme = "gruvbox",
    },
  },
