set -g @plugin 'catppuccin/tmux'

# Catppuccin
set -g @catppuccin_flavor '{{ .tmuxFlavor }}'
set -g @catppuccin_window_status_style "basic"
set -g @catppuccin_status_left_separator "█"
set -g @catppuccin_status_right_separator "█"
set -g @catppuccin_window_text " #W"
set -g @catppuccin_window_current_text " #W"
set -g @catppuccin_window_flags "icon"
set -g @catppuccin_window_flags_icon_bell " 󰂚"
set -g @catppuccin_window_flags_icon_activity " 󱅫"
set -g @catppuccin_window_flags_icon_last ""
set -g @catppuccin_window_flags_icon_current ""
set -g @catppuccin_window_flags_icon_format "##{?window_activity_flag,#{E:@catppuccin_window_flags_icon_activity},}##{?window_bell_flag,#{E:@catppuccin_window_flags_icon_bell},}##{?window_silence_flag,#{E:@catppuccin_window_flags_icon_silent},}##{?window_active,#{E:@catppuccin_window_flags_icon_current},}##{?window_last_flag,#{E:@catppuccin_window_flags_icon_last},}##{?window_marked_flag,#{E:@catppuccin_window_flags_icon_mark},}##{?window_zoomed_flag,#{E:@catppuccin_window_flags_icon_zoom},}"
set -g @catppuccin_status_host_icon_bg "#{@thm_overlay_2}"
set -g @catppuccin_status_host_icon_fg "#{@thm_mantle}"
set -g @catppuccin_tmux_mode_icon "#{?pane_in_mode,󰆏 ,#{?client_prefix,󰘳 ,#{?pane_synchronized,󰓦 ,󰆍 }}}"
set -g @catppuccin_tmux_mode_color "#{?pane_in_mode,#{E:@thm_yellow},#{?client_prefix,#{E:@thm_red},#{E:@thm_overlay_2}}}"
set -g @catppuccin_status_tmux_mode "#[fg=#{E:@catppuccin_tmux_mode_color}]#{?#{==:#{@catppuccin_status_connect_separator},yes},,#[bg=default]}#{@catppuccin_status_left_separator}#[fg=#{@thm_crust},bg=#{E:@catppuccin_tmux_mode_color}]#{E:@catppuccin_tmux_mode_icon}"
set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""
set -g status-right "#{E:@catppuccin_status_host}"
set -ag status-right "#{E:@catppuccin_status_tmux_mode}"

set -g @catppuccin_window_current_number_color "#{E:@thm_teal}"
set -g @catppuccin_window_current_text_color "#{E:@thm_mantle}"
