{{- if eq .theme "gruvbox" -}}
{{ include "dot_config/starship-gruvbox.toml" }}
{{- else if eq .theme "catppuccin" -}}
{{ include "dot_config/starship-catppuccin.toml" }}
{{- else -}}
{{ fail (printf "Unsupported .theme value: %q" .theme) }}
{{- end -}}
