{{- $preset := index .themePresets .theme -}}
{{- if not $preset -}}
{{ fail (printf "Unsupported .theme value: %q" .theme) }}
{{- end -}}
{{- if $preset.starshipPalette -}}
palette = "{{ $preset.starshipPalette }}"

{{- end -}}
{{ include $preset.starshipTemplate }}
